.item {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid brown;
  border-radius: 5px;
  padding: 5px 10px;
  transform: background-color 350ms cubic-bezier(0.1, 0.7, 1, 0.1);
}

.item:hover,
.item:focus {
  background-color: rgb(247, 247, 101);
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
}
.isActive {
  background-color: darkred;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
}
